<div class="" [className]="myClass ? 'toggled d-flex': 'off d-flex'" id="wrapper" >
<!-- *ngIf="!user$; then redireccionar()" -->



    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><i class="fas fa-circle"></i>OLSoftware </div>
      <div class="dropdown-divider"></div>
      <div class="list-group list-group-flush">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-map"></i>Programación
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Hijo1</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-tasks"></i>Gestión de operaciones
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Hijo1</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-sliders-h"></i>Perfiles
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Hijo1</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-tag"></i>Roles
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>Usuario
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-sticky-note"></i>Reportes
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Hijo1</a>
            </div>
        </li>
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <a (click)="ocultarMenu()" id="menu-toggle"><i class="fas fa-bars"></i></a>
        <p>Prueba Front-end</p>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" 
        *ngIf="user$ | async as user">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link"  *ngIf="user$">{{ user.email }} </a>
            </li>
            <li class="">
              <a class="logout" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="contenedor-usuario">
            <div class="titulo">
              <h2 class="mt-4"><i class="fas fa-users"></i> Usuarios Existentes</h2>
              <a class="btn-crear mt-3" data-toggle="modal" data-target="#crear-registro" data-whatever="@getbootstrap"><i class="fa fa-plus"> </i> Crear</a>
            </div>
            <div class="datos">
              <table class="table mt-3" *ngIf="registros.length != 0">
                <thead>
                  <tr>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Identificación</th>
                    <th scope="col">Rol asociado</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let registro of registros; let i = index">
                    <td>{{registro.nombre}}</td>
                    <td>{{registro.apellido}}</td>
                    <td>{{registro.cc}}</td>
                    <td>{{registro.rol}}</td>
                    <td>{{registro.estado}}</td>
                    <td>{{registro.tel}}</td>
                    <td>{{registro.email}}</td>
                    <td class="accion">
                      <a class="mt-3 btn-edit" (click)="pruebaeditar(registro)" data-toggle="modal" data-target="#editar-registro" data-whatever="@getbootstrap"><i class="fas fa-pencil-alt"></i></a>
                      <a class="mt-3 btn-delete" (click)="borrarRegistro(registro, i)"><i class="fas fa-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div  *ngIf="!cargando && registros.length <= 0"
                    class="alert alert-warning text-center mt-3">
                <h4 class="alert-heading">No hay registros</h4>
                <p>
                  <i class="fa fa-exclamation fa-2x"></i>
                </p>
              </div>
              <div  *ngIf="cargando"
                    class="alert alert-info text-center mt-3">
                <h4 class="alert-heading">Cargando</h4>
                <p>
                  <i class="fa fa-sync-alt fa-spin fa-2x"></i>
                </p>
                <p>
                  Por favor espere
                </p>
              </div>

            </div>
        </div>


<!-- Filtro -->
        <div class="contenedor-filtrar">
          <form action="">
            <div class="filtrar">
                <h2 class="mt-4"><i class="fas fa-filter"></i> Filtrar búsqueda</h2>
                <label for="nombre">Nombre
                <input type="text" name="nombre" id="nombre1" class="form-control"></label>

                <label for="apellidos">Apellidos
                <input type="text" name="apellidos" id="apellidos1" class="form-control"></label>

                <label for="cc">Identificación (C.C)
                <input type="text" name="cc" id="cc1" class="form-control"></label>

                <label for="rol">Rol asociado
                <select name="rol" id="rol1">
                    <option selected></option>
                    <option>Administrador</option>
                    <option>Recolector</option>
                    <option>Conductor</option>
                </select></label>

                <label for="estado">Estado
                    <select name="estado" id="estado1">
                        <option selected></option>
                        <option>Activo</option>
                        <option>Inactivo</option>
                    </select>
                </label>

                <label for="password">Contraseña
                <input type="text" name="password" id="password1" class="form-control"></label>

                <label for="tel">Teléfono
                <input type="text" name="tel" id="tel1" class="form-control"></label>

                <label for="email">Correo electrónico
                <input type="text" name="email" id="email1" class="form-control"></label>

            </div>
            <div class="botones">
              <button class="btn-filtrar mb-3" (click)="filtrar()" type="submit">Filtrar</button>
              <button class="btn-limpiar mb-3">Limpiar</button>
          </div>
          </form>
        </div>
<!-- Filtro -->
        </div>
        <footer>
          <div class="contenedor-footer">
            <h3>OLSoftware - 2018</h3>
          </div>
        </footer>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


<!-- CREAR REGISTRO -->
<div class="modal fade" id="crear-registro" tabindex="-1" role="dialog" aria-labelledby="example-crear-registro" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="example-crear-registro">Argregar nuevo usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="column" (ngSubmit)="guardar(f)" #f="ngForm">
          <div class="row">
            <div class="form-group col">
              <label for="nombre" class="col-form-label">Nombres</label>
              <input  type="text" 
                      class="form-control" 
                      id="nombre"
                      [(ngModel)]="registro.nombre"
                      name="nombre"
                      required>

              <label for="cc" class="col-form-label">Identificación (C.C)</label>
              <input  type="text" 
                      class="form-control" 
                      id="cc"
                      [(ngModel)]="registro.cc"
                      name="cc"
                      required>

              <label for="estado" class="col-form-label">Estado</label>
              <select id="estado"
                      class="form-control"
                      [(ngModel)]="registro.estado"
                      name="estado"
                      required>
                <option selected>Activo</option>
                <option>Inactivo</option>
              </select>

              <label for="tel" class="col-form-label">Teléfono</label>
              <input  type="text" 
                      class="form-control" 
                      id="tel"
                      [(ngModel)]="registro.tel"
                      name="tel"
                      required>
            </div>

            <div class="form-group col">
              <label for="apellidos" class="col-form-label">Apellidos</label>
              <input  type="text" 
                      class="form-control" 
                      id="apellido"
                      [(ngModel)]="registro.apellido"
                      name="apellido"
                      required>

              <label for="rol" class="col-form-label">Rol asiciado</label>
              <select id="rol"
                      class="form-control"
                      [(ngModel)]="registro.rol"
                      name="rol"
                      required>
                <option selected>Administrador</option>
                <option>Recolector</option>
                <option>Conductor</option>
              </select>

              <label for="password" class="col-form-label">Contraseña</label>
              <input  type="password" 
                      class="form-control" 
                      id="password"
                      [(ngModel)]="registro.pass"
                      name="pass"
                      required>

              <label for="email" class="col-form-label">Correo electrónico</label>
              <input  type="email" 
                      class="form-control" 
                      id="email"
                      [(ngModel)]="registro.email"
                      name="email"
                      required>
                      <!-- <input [(ngModel)]="person.firstName" name="first"> -->
            </div>
          </div>
          <div class="botones row">
            <button type="submit" class="btn-filtrar">Aceptar</button>
            <button class="btn-limpiar" data-dismiss="modal">Cancelar</button>
          </div>
      </form>
      </div>

    </div>
  </div>
</div>
<!-- CREAR REGISTRO -->
<!-- EDITAR REGISTRO -->
<div class="modal fade" id="editar-registro" tabindex="-1" role="dialog" aria-labelledby="example-editar-registro" aria-hidden="true" *ngIf="mostrarEditar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="example-editar-registro">Editar usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="row">

            <div class="form-group col">
              <label for="nombre" class="col-form-label">Nombres</label>
              <input  type="text" 
                      class="form-control" 
                      id="nombre"
                      [(ngModel)]="mostrarEditar.nombre"
                      name="nombre"
                      required>

              <label for="cc" class="col-form-label">Identificación (C.C)</label>
              <input  type="text" 
                      class="form-control" 
                      id="cc"
                      [(ngModel)]="mostrarEditar.cc"
                      name="cc"
                      required>

              <label for="estado" class="col-form-label">Estado</label>
              <select id="estado"
                      class="form-control"
                      [(ngModel)]="mostrarEditar.estado"
                      name="estado"
                      required>
                <option selected>Activo</option>
                <option>Inactivo</option>
              </select>

              <label for="tel" class="col-form-label">Teléfono</label>
              <input  type="text" 
                      class="form-control" 
                      id="tel"
                      [(ngModel)]="mostrarEditar.tel"
                      name="tel"
                      required>
            </div>

            <div class="form-group col">
              <label for="apellidos" class="col-form-label">Apellidos</label>
              <input  type="text" 
                      class="form-control" 
                      id="apellido"
                      [(ngModel)]="mostrarEditar.apellido"
                      name="apellido"
                      required>

              <label for="rol" class="col-form-label">Rol asiciado</label>
              <select id="rol"
                      class="form-control"
                      [(ngModel)]="mostrarEditar.rol"
                      name="rol"
                      required>
                <option selected>Administrador</option>
                <option>Recolector</option>
                <option>Conductor</option>
              </select>

              <label for="password" class="col-form-label">Contraseña</label>
              <input  type="password" 
                      class="form-control" 
                      id="password"
                      [(ngModel)]="mostrarEditar.pass"
                      name="pass">

              <label for="email" class="col-form-label">Correo electrónico</label>
              <input  type="email" 
                      class="form-control" 
                      id="email"
                      [(ngModel)]="mostrarEditar.email"
                      name="email">
                      <!-- <input [(ngModel)]="person.firstName" name="first"> -->
            </div>
        </form>
      </div>
      <div class="botones">
        <button class="btn-filtrar mb-3"  (click)="actualizar()" type="submit">Actualizar</button>
        <a class="btn-limpiar mb-3" data-dismiss="modal">Cancelar</a>
      </div>
    </div>
  </div>
</div>
<!-- EDITAR REGISTRO -->
